{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/cat-contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Estamos aquí para ayudarte con tu felino amigo</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>En Mundo Gatuno nos encanta ayudar a los amantes de los gatos. Si tienes preguntas sobre el cuidado de tu amigo felino, su alimentación o comportamiento, ¡no dudes en contactarnos!</p>
        <p>Proporcionamos orientación personalizada para garantizar que tu gato tenga una vida feliz, saludable y llena de ronroneos.</p>

        <br>
        <p><b>Teléfono:</b> +09 876 543 210</p>
        <p><b>Consultoría:</b> Gratuita para amantes de los gatos 🐾</p>
    </div>
</div>
{% endblock %}